/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-05-2018, 10:36:43
    Author     : frederik
*/


.root{
    -fx-background-color: #F0F8FF; 
}

#naviPane, #importPane{
    -fx-background-color: #F0F8FF; 
}

#importDataBtn, #viewTaskBtn, #viewLogBtn, #saveTaskBtn, #saveMappingBtn, #AutoConversionBtn{
   
    -fx-background-color: #1a99cc;
    -fx-text-fill: white;
   

   
    -fx-border-radius: 5;
    -fx-background-radius: 7;
}
#importDataBtn:hover, #viewTaskBtn:hover, #viewLogBtn:hover, #saveTaskBtn:hover{
    -fx-border-color: White;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.list-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #f0f8ff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
    border-color: #F0F8FF; 
}


.list-cell:even{
    -fx-background-color: #F0F8FF;
}

.list-cell:selected{
    
 -fx-background-color: #1a99cc;
 -fx-font-color: black;
 alignment-adjust: 0;
}

.list-cell:odd{
    -fx-background-color: white;
}
.list-cell:odd:selected{
    
    -fx-background-color: #1a99cc;
}
