/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-05-2018, 10:36:43
    Author     : frederik
*/
#selectImportBtn, #selectOutputBtn, #convertBtn, #logBtn{
   
    -fx-background-color: #2663a5;
    -fx-text-fill: white;
    -fx-border-radius: 7px;
    -fx-background-radius: 8px;
    -fx-border-color: white;

    
}

.jfx-button:hover{
    -fx-border-color: #2663a5;
    -fx-background-color: #2663a5;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-color: white;
}

